{% extends "base.html" %}
{% block title %}Whole score of player {{ bname }}-{{ pid }}{% endblock %}
{% block addheader %}
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
google.load("visualization", "1", {packages: ["corechart"]});
function drawgraph()
{
    var data = google.visualization.arrayToDataTable([
      ['Played', 'Rating'],
      {% for score in scores %}[{{ score.game_no }}, {{ score.R_aft }}], {% if loop.last %}[{{ score.game_no - 1 }}, {{ score.R_bef }}]{% endif %}{% endfor %}
    ]);
    var options = {title: 'Rating Process of Player {{ bname }}-{{ pid }}'};
    var chart = new google.visualization.LineChart(document.getElementById('graph_area'));
    chart.draw(data, options);
}
</script>
{% endblock %}
{% block content %}
<h1>Whole score of player {{ bname }}-{{ pid }}</h1>
<h2>Summary</h2>
<dl><dt>games played
</dt><dd><strong>{{ whole_score.game_count }}</strong> of <strong>{{ played }}</strong> (<a href="/viewer/score?viewer={{ viewer_id }}&limit={{ whole_score.game_count + 100 }}">more</a> <a href="/viewer/score?viewer={{ viewer_id }}&limit={{ played }}">all</a>)
</dd><dt>average performance (rating to converge)
</dt><dd><strong>R{{ "%.0f" % whole_score.av_perf }} &#177; {{ "%.0f" % whole_score.dev_perf }}</strong>
</dd><dt>min / current / max rating
</dt><dd>R{{ "%.2f" % whole_score.min_R }} / <strong>R{{ "%.2f" % whole_score.curr_R }}</strong> / R{{ "%.2f" % whole_score.max_R }}
</dd><dt>rank distribution
</dt><dd>{% for r in whole_score.rank_dist %}{{ r }}{% if not loop.last %} - {% endif %}{% endfor %}
</dd><dd>{% for r in whole_score.rank_perc %}{{ r }}%{% if not loop.last %} - {% endif %}{% endfor %}
</dd><dt>point distribution
</dt><dd>{% for p in whole_score.pdr %}{% if loop.first or loop.last %}<strong>{% endif %}{{ p }}{% if loop.first %}</strong> sweeps{% endif %}{% if loop.last %}</strong> flies{% else %} - {% endif %}{% endfor %}
</dd><dt>opponent rating
</dt><dd>R{{ "%.0f" % whole_score.av_oppR }} &#177; {{ "%.0f" % whole_score.dev_oppR }}
</dd><dt>average score
</dt><dd>{{ "%.0f" % whole_score.av_score }} &#177; {{ "%.0f" % whole_score.dev_score }}
</dd><dt>min .. max score
</dt><dd>{{ whole_score.min_score }} .. {{ whole_score.max_score }}
</dd></dl>
<div id="graph_area" style="width: 800px; height: 600px; border: 1px #000;"></div>
<script type="text/javascript">drawgraph();</script>
{% if visit_history %}<h2>Visit History</h2>
<table>
  <caption>Visit History of Player {{ bname }}-{{ pid }}</caption>
  <thead><tr>
    <th>Date</th>
    <th class="last-column">Played</th>
  </tr></thead>
  <tbody>{% for date_info in whole_score.date_dist %}<tr{% if loop.last %} class="last-row"{% endif %}>
    <td style="font-weight: bold; color: #{{ date_info.color }}">{{ date_info.date }}</td>
    <td class="last-column">{{ date_info.played }}</td>
  </tr>{% endfor %}</tbody>
</table>{% endif %}
{% if detail %}<h2>Detail</h2>
<table>
  <caption>Detail Score of Player {{ bname }}-{{ pid }}</caption>
  <thead><tr>
    <th>#</th>
    <th class="last-column">Date</th>
    <th>Rank</th>
    <th class="last-column">Point</th>
    <th>R bef.</th>
    <th class="last-column">R aft.</th>
    <th>Score</th>
    <th>oppR</th>
    <th class="last-column">Perf</th>
  </tr></thead>
  <tbody>{% for score in scores %}<tr{% if loop.last %} class="last-row"{% endif %}>
    <td>{{ score.game_no }}</td>
    <td class="last-column">{{ score.game_date }}</td>
    <td>{{ score.rank }}</td>
    <td class="last-column">{{ score.point }}</td>
    <td>{% if after_float %}{{ "%.2f" % score.R_bef }}{% else %}{{ "%.0f" % score.R_bef }}{% endif %}</td>
    <td class="last-column"{% if score.R_red %} style="background-color: ffcccc"{% else %}{% if score.R_yellow %} style="background-color: ffffcc"{% endif %}{% endif %}>{% if score.R_strong %}<strong>{% endif %}{% if after_float %}{{ "%.2f" % score.R_aft }}{% else %}{{ "%.0f" % score.R_aft }}{% endif %}{% if score.R_strong %}</strong>{% endif %}</td>
    <td>{{ score.score }}</td>
    <td>{% if after_float %}{{ "%.2f" % score.R_opp }}{% else %}{{ "%.0f" % score.R_opp }}{% endif %}</td>
    <td class="last-column">{% if after_float %}{{ "%.2f" % score.perf }}{% else %}{{ "%.0f" % score.perf }}{% endif %}</td>
  </tr>{% endfor %}</tbody>
</table>{% endif %}
{% endblock %}
