<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
		<html lang="ja"><head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="Content-Style-Type" content="text/css">
<title>index of Neuron Integrated Score Manager</title>
<link rel="stylesheet" type="text/css" href="/css/css.css" />
		</head><body>
<p style="text-align: right;"><a href="{{ logout_url }}">log out</a></p>
<h1>index of NeuronISM</h1>
<p>System datetime: {{ system_datetime }}</p>
<p>訂正: 学級新聞6月号に誤った情報が掲載されています。
訂正は以下の通りです。
(訂正版も配布されています。)</p>
<ul><li>システム名は Neuron-izm ではなく NeuronISM です。
Neuron Integrated Score Manager (統合成績管理システム) の略です。
</li><li>利用に必要なアカウントの登録は Google アカウントです。
メールアドレスは普段ご利用のものを使用でき、Gmail を使う必要はありません。
新しく取得した Gmail アドレスでも利用可能ですが、システムから配信されるメールを受けられるよう、普段お使いのものを使うことをお勧めします。
</li></ul>
