<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
		<html lang="ja"><head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="Content-Style-Type" content="text/css">
<title>Neuron Integrated Score Manager: index</title>
<link rel="stylesheet" type="text/css" href="/css/css.css" />
		</head><body>
<p style="text-align: right;"><a href="{{ logout_url }}">log out</a></p>
<h1>index of NeuronISM</h1>
<p>System datetime: {{ system_datetime }}</p>
