{% extends "../base.html" %}
{% block title %}Branch Statistics of {{ bname }}{% endblock %}
{% block addheader %}
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
google.load("visualization", "1", {packages: ["corechart"]});
function drawgraph()
{
    var datatable = new google.visualization.DataTable();
    datatable.addColumn('date', 'Date');
    datatable.addColumn('number', 'Games');{% for stat in games_stat %}
    datatable.addRow([new Date({{ stat.date.year }}, {{ stat.date.month|add:"-1" }}, {{ stat.date.day }}), {{ stat.games }}]);{% endfor %}
    var options = {title: 'Games statistics of {{ bname }}: {{ min_date }} - {{ max_date }}'};
    var chart = new google.visualization.LineChart(document.getElementById('graph_area'));
    chart.draw(datatable, options);
}
</script>
{% endblock %}
{% block content %}
<h1>Branch Statistics of {{ bname }}</h1>
<dl><dt># of Games in total
</dt><dt>{{ played }}
</dt></dl>
<h2>Games statistics</h2>
<div id="graph_area" style="width: 800px; height: 600px; border: 1px #000;"></div>
<script type="text/javascript">drawgraph();</script>
<table><caption>
  Games statistics of {{ bname }}: {{ min_date }} - {{ max_date }}
</caption><thead>
  <tr>
    <th>Date</th>
    <th class="last-column">#G</th>
  </tr>
</thead><tbody>{% for stat in games_stat %}
  <tr{% if forloop.last %} class="last-row"{% endif %}>
    <td style="color: {{ stat.color }}; font-weight: bold;">{{ stat.date }}</td>
    <td class="last-column">{{ stat.games }}</td>
  </tr>{% endfor %}
</tbody></table>
{% endblock %}
