<html><head>
<title>Pre-Branch List - Neuron Integrated Score Manager</title>
<link rel="stylesheet" href="/css/css.css" />
</head><body>
<table class="score">
	<caption>Pre-Branch List</caption>
	<thead>{% block thead %}		<tr>
			<th>name</th>
			<th>nickname</th>
			<th>e-mail</th>
			<th class="last-column">id</th>
			<th>accept</th>
			<th class="last-column">reject</th>
		</tr>
{% endblock %}</thead>
	<tbody>{% block tbody %}{% for prebranch in prebranches %}
		{% if not loop.last %}<tr>{% else %}<tr class="last-row">{% endif %}
			<td>{{ prebranch.name }}</td>
			<td>{{ prebranch.user.nickname() }}</td>
			<td>{{ prebranch.user.email() }}</td>
			<td class="last-column">{{ prebranch.bid }}</td>
			<td><a href="/master/prebranch?action=accept&id={{ prebranch.key().id() }}">accept</a></td>
			<td><a href="/master/prebranch?action=reject&id={{ prebranch.key().id() }}">reject</a></td>
		</tr>{% endfor %}{% endblock %}</tbody>
</table>
</body></html>
