<html><head>
<title>{% block title %}Upload score file for {{ bname }}{% endblock %} - Neuron Integrated Score Manager</title>
<link rel="stylesheet" href="/css/css.css" />
{% block addheader %}{% endblock %}
</head><body>
{% block content %}
<h1>{{ bname }}: 成績ファイルのアップロード</h1>
<form action="{{ url }}" method="post" enctype="multipart/form-data">
<p style="font-size: large;">upload: <input type="file" name="score" />
<input type="submit" value="submit" />
</p>
</form>
{% endblock %}
</body></html>
