{% extends "../../base.html" %}
{% block title %}{{ count }} scores for {{ bname }}{% endblock %}
{% block content %}
<table>
  <caption>{% if navigation %}<a href="/branch/score/view?{{ prev_param }}">prev</a> | {% endif %}{{ count }} scores for {{ bname }}{% if navigation %} | <a href="/branch/score/view?{{ next_param }}">next</a>{% endif %}</caption>
  <thead><tr>
    <th class="last-column">pl</th>
    <th class="last-column">sc</th>
    <th>pt</th>
    <th>飛</th>
    <th>-</th>
    <th>+</th>
    <th class="last-column">大</th>
    <th>rp</th>
    <th>1</th>
    <th>2</th>
    <th>3</th>
    <th class="last-column">4</th>
    <th>date</th>
    <th>#</th>
    <th>R bef</th>
    <th class="last-column">R aft</th>
  </tr></thead>
  <tbody>{% for score in result %}<tr{% if forloop.last %} class="last-row"{% endif %}>
    <td class="last-column">{{ score.pid }}</td>
    <td class="last-column">{{ score.score }}</td>
    <td>{{ score.point }}</td>
{% for p in score.point_summary %}    <td{% if forloop.last %} class="last-column"{% endif %}>{{ p }}</td>
{% endfor %}    <td>{{ score.rp_gain }}</td>
{% for r in score.rank %}    <td{% if forloop.last %} class="last-column"{% endif %}>{{ r }}</td>
{% endfor %}    <td>{{ score.finish_date|date:"Y/m/d" }}</td>
    <td>{{ score.games }}</td>
    <td>{{ score.rating_bef|floatformat:2 }}</td>
    <td class="last-column">{{ score.rating_aft|floatformat:2 }}</td>
  </tr>{% endfor %}</tbody>
</table>
{% endblock %}
