<html>
	<head></head>
	<body>
		<h1>NeuronISM: Compose announcement</h1>
		<form action="/admin" method="post">
			<p><input type="hidden" name="announce" value="body" />件名: <input type="text" name="subject" size="40" /> (prefix 'NeuronISM: ' は自動付加)</p>
			<p>本文:</p>
			<p><textarea name="body" rows="20" columns="80">ニューロン麻雀スクール加盟校 NeuronISM 担当者様各位

いつもお世話になっております。NeuronISM 開発担当 大堀龍一です。



よろしくお願いいたします。

大堀龍一 (Ryuichi OHORI)
ニューロン麻雀スクール
r.97all@gmail.com

送信元アドレスは送信専用です。本件への質問などは送信元アドレスではなく r.97all@gmail.com のメールでお願いします。
</textarea></p>
			<p><input type="submit" value="submit"/></p>
		</form>
	</body>
</html>